**/*.code-workspace
**/__pycache__/
.vscode/
**/QuickBrewSaves/
**/*.pkl
**/.hypothesis/
/.idea/
autobrewer/GUI/UI Files/BrewConfigGUI.py
autobrewer/GUI/UI Files/BrewProgressGUI.py
autobrewer/GUI/UI Files/CleaningScreenGUI.py
autobrewer/GUI/UI Files/DeviceStatusControlsGUI.py
autobrewer/GUI/UI Files/DeviceStatusSensorsGUI.py
autobrewer/GUI/UI Files/Generate PY Files.bat
autobrewer/GUI/UI Files/MainMenuGUI.py
/$
/Pipfile.lock
autobrewer/GUI/UI Files/ProcessStatusGUI.py
