[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-qt = "*"
hypothesis = "*"
matplotlib = "*"

[packages]
pyside2 = "*"
w1thermsensor = {git = "https://github.com/timofurrer/w1thermsensor"}
loguru = "*"
gpiozero = "*"
pytest = "*"
black = {git = "git://github.com/psf/black"}
pyax12 = "*"
simple-pid = "*"

[requires]
python_version = "3.7"
