[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pyside2 = "*"
adafruit-circuitpython-ads1x15 = "*"
w1thermsensor = "*"
black = {git = "git://github.com/psf/black"}

[requires]
python_version = "3.8"
